.movie-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    width: 350px;
    height: 620px;
}

.banner-movie{
    overflow: hidden;
    border-radius: 10px;
}

.movie-card img{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    filter: brightness(0.8);
    height: 525px;
}

.movie-card .banner-movie:hover img{
    transform: scale(1.1);
    filter: brightness(1);
}

.content-movie-card{
    padding: 0px 15px;
    overflow: hidden;
    width: 100%;
}

.content-movie-card h2 {
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
