@keyframes popup-animate {
    0% {
        transform: translate(50%, -50%) scale(0);
    }
    100% {
        transform: translate(50%, -50%) scale(1);
    }
}

#popup-movie {
    position: fixed;
    width: 60%;
    height: 80vh;
    padding: 50px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0); 
    background-color: rgb(24, 24, 24);
    color: white;
    animation: popup-animate 0.3s ease-out forwards; 
}

.banner-popup {
    height: 100%;
}

.banner-popup > img {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

#content-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 80%;
    padding: 10px;
}

#popup-movie button {
    padding: 10px 30px;
    border: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: rgb(134, 15, 15);
    color: white;
    transition: 0.5s;
    cursor: pointer;
    font-size: max(12px, 2vh);
}

#popup-movie button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.315);
}

.id-movie{
    font-style: italic;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
}


@media (max-width: 849px) {
    #popup-movie{
        flex-direction: column;
        padding: 30px;
        width: 90%;
        gap: 10px;
        height: auto;
    }

    #content-popup{
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .banner-popup{
        width: 60%;
        height: auto;
    }

    .banner-popup > img{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 850px) and (max-width: 1200px) {
    #popup-movie{
        width: 90%;
    }

    .banner-popup{
        height: 85%;
    }
}