#catalog-section{
    background-color: rgb(15, 15, 15);
    color: rgb(241, 240, 240);
}

.container-catalog{
    display: grid;
    justify-items: center; 
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.pagination-container{
    padding: 30px;
}

.pagination-btn{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: rgb(231, 231, 231);
    transition: 0.5s;
    color: #121212;
}

.pagination-btn:hover{
    transform: scale(1.1);
    background-color: white;
}