#catalog-section{
    background-color: rgb(15, 15, 15);
    color: rgb(241, 240, 240);
}

.container-catalog{
    display: grid;
    justify-items: center; 
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}